/* #region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --dropb-primary: #0061fe;
  --dropb-primary-lighter: #b4d0e6;
  --dropb-dark: #000000;
  --dropb-light: #ffffff;
  --dropb-borders: lightgray;
}

.debug {
  * {
    border: 1px dashed;
  }
  main {
    background-color: gray;
  }
  .container {
    background-color: bisque;
  }
  .row {
    background-color: aquamarine;
  }
  [class^="col"] {
    background-color: chocolate;
  }
  header {
    background-color: brown;
  }
}

img {
  max-width: 100%;
}

main {
  background-color: var(--dropb-light);
}
/* #endregion common */

/* #region utilities */

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.d-flex {
  display: flex;
}

.lcontainer {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 60%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.narrow_btn {
  background-color: var(--dropb-primary);
  padding: 0.5rem 1rem;
  color: var(--dropb-light);
  margin-top: -0.5rem;
}

.wide_btn {
  background-color: var(--dropb-primary);
  padding: 0.5rem 3rem;
  color: var(--dropb-light);
  text-align: center;
}

.bot-border:hover {
  header {
    border-bottom: 1px solid black;
  }
}

.normal_link {
  text-decoration: underline;
  color: var(--dropb-primary);
}

.mt {
  margin: 1rem 0;
}
/* #region column utilities */

.col {
  width: auto;
  flex-basis: auto;
}

[class^="col"] {
  padding: 1rem;
}

.col-1 {
  width: calc(100% / 12 * 1);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

/* #endregion column utilities */

/* #endregion utilities */

/* #region header */
header {
  background-color: var(--dropb-light);
  position: fixed;
  width: 100%;
  box-shadow: 0 0 5px var(--dropb-borders);
  nav {
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    .nav_left {
      gap: 2rem;
      a {
        align-self: center;
      }
    }
    .nav_right {
      gap: 2rem;
    }
  }
}
/* #endregion header */

/* #region jumbotron */
#jumbotron_container {
  padding-top: 12rem;
  background-color: var(--dropb-primary-lighter);
  margin-right: 4.5px;
  h1 {
    font-size: 3.5rem;
    line-height: 5rem;
    word-spacing: 0.5rem;
    font-weight: 900;
    max-width: 80%;
    padding-bottom: 2rem;
  }
  .jumbo_info {
    flex-direction: column;
    justify-content: space-between;
    .narrow_btn {
      text-align: center;
      margin: 0;
    }
    #d-arrow {
      font-size: 3rem;
      padding-top: 2.5rem;
    }
  }
  .jumbo-img_container {
    padding: 0;
    margin-bottom: -4rem;
  }
}

#jumbotron_divider {
  padding-top: 6rem;
}
/* #endregion jubmotron */

/* #region plans section */
.plan_card_container {
  justify-content: space-between;
}
.plans_container {
  padding-top: 2rem;
  box-shadow: 0 0 5px var(--dropb-borders);
  h2 {
    font-size: 1.7rem;
  }

  .payment_select {
    gap: 1rem;
    padding: 3rem 0rem;
    #checked_circle {
      color: var(--dropb-primary);
    }
    #unchecked_circle {
      color: var(--dropb-borders);
    }
  }
  .plan_card {
    width: 32%;
    height: 100%;
    border: 1px solid var(--dropb-borders);
    .card_header {
      border-top: 1px solid var(--dropb-borders);
      border-bottom: 1px solid var(--dropb-borders);
      padding: 1rem;
      margin: -1rem -1rem;
      text-align: center;
    }
  }
  .plan_info {
    min-height: 600px;
    h3 {
      font-size: 1.2rem;
      padding: 1rem 0;
    }
    .wide_btn {
      margin-right: 0.5rem;
    }
    hr {
      margin: 1rem 0rem;
      width: 25%;
      border-color: var(--dropb-borders);
    }
    h4 {
      margin: 1rem 0;
    }
  }
}

/* #region end plans section */
